{% extends "base.html" %} {% block main %}
<div class="mb-4 carousel slide" data-bs-ride="carousel" id="hero-carousel">
        {% include "carousel.html" %}
</div>
<div class="container-lg">
    <div class="row">
        <div class="col-md-8 mt-4">
            <h5>Scavenger Hunt</h5>
            <p>From June 8 to September 11, NSPS members are on a photographic <a href="https://nsps.ca/scavenger-hunt-2026/">Scavenger Hunt</a></p>

            <h5>Next Program Night</h5>
            <p>Join us on Zoom, on Monday, September 28, 2026 for "<a href="https://nsps.ca/next-program-night-marcus-gregus/">Pole to Pole</a>", a presentation by Marcus Gregus.</p>

            <h5>Membership</h5>
            <p>With annual NSPS membership, enjoy educational presentations, image review and coaching sessions, field trips, socializing, camaraderie and even competition. Or… ‘check us out’ with <strong>Short-term membership</strong> (90-days, for $30) available
            to new and former NSPS members.</p>
            <p><a href="#" class="btn btn-primary link-underline link-underline-opacity-0">Membership information</a></p>
        
            <h5>Guests Welcome</h5>
            <p>Attend two non-Program Night meetings no charge. Submit the <a href="https://nsps.ca/nsps-guest-registration/">Guest Registration form</a>, and we’ll get back to you.</p>
            <div class="alert alert-warning">NSPS encourages all photographers to ensure their presence, and lighting under their control, does not disturb or interfere with wildlife being photographed.</div>

        </div>
        <div class="col-md-4 border-start">
            {% include "events.html" %}
        </div>

    </div>
</div>
{% endblock %}